{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>InterviewAI — Practice Like It's Real</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Syne:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/landing_page.css' %}"/>
    {% block head %}

    {% endblock %}
</head>
<body>

  <div class="noise"></div>
        {% include 'includes/nav.html' %}

{% block body %}

{% endblock %}



  <!-- FOOTER -->
  <footer>
    <div class="container footer-in">
      <div class="f-logo">interview<span>ai</span><span class="fpurp">.</span></div>
      <div class="f-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
      </div>
      <p class="f-copy">Built with care for students across India · © 2025 InterviewAI</p>
    </div>
  </footer>

{% block script %}
	
{% endblock %}

</body>
</html>

