<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<video id="video" autoplay style="display:none;"></video>
<canvas id="canvas" style="transform: scaleX(-1);"></canvas>
<h3 id="status">Waiting...</h3>
<script>
    const socket = new WebSocket("ws://127.0.0.1:8000/ws/chat/");

    const video = document.getElementById("video");
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");
    const statusText = document.getElementById("status");

    // store iris position
    let irisX = null;
    let irisY = null;

    // 🎥 Start webcam
    navigator.mediaDevices.getUserMedia({video: true})
        .then(stream => {
            video.srcObject = stream;
        });

    // 📤 Send frame to backend
    function sendFrame() {
        const tempCanvas = document.createElement("canvas");

        tempCanvas.width = window.innerWidth;
        tempCanvas.height = window.innerHeight;


        const tempCtx = tempCanvas.getContext("2d");

        {#tempCtx.translate(tempCanvas.width, 0);#}
        {#tempCtx.scale(-1, 1);#}

        tempCtx.drawImage(video, 0, 0, window.innerWidth, window.innerHeight);

        const frame = tempCanvas.toDataURL("image/jpeg");

        socket.send(JSON.stringify({
            frame: frame
        }));
    }

    // send every 500ms (better)
    setInterval(sendFrame, 500);


    // 📩 Receive iris position from backend
    socket.onmessage = (event) => {
        const data = JSON.parse(event.data);

        if (data.direction !== 'center' || data.v_direction !== 'center'){
            console.log(data.direction,data.v_direction)
        }

        if (data.x !== null && data.y !== null) {
            irisX = data.x;
            irisY = data.y;

            // 🎯 Show direction
            statusText.innerText = `H: ${data.direction} ${data.ratio} | V: ${data.v_direction} ${data.v_ratio}`;
        } else {
            statusText.innerText = "❌ No face detected";
        }

    };


    // 🎨 Draw video + overlay
    function draw() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;

        // draw video
        ctx.drawImage(video, 0, 0);

        // draw iris circle
        if (irisX !== null && irisY !== null) {
            const x = irisX * canvas.width;
            const y = irisY * canvas.height;

            ctx.beginPath();
            ctx.arc(x, y, 6, 0, 2 * Math.PI);
            ctx.fillStyle = "red";
            ctx.fill();
        }

        requestAnimationFrame(draw);
    }

    draw();
</script>
</body>
</html>