<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #result{
            color: red;
            font-size: 5rem;
            position: absolute;
            top: 10px;
            z-index: 100;
        }
    </style>
</head>
<body>
<video id="video" autoplay style="display:none;"></video>
<canvas id="canvas" style="transform: scaleX(-1);"></canvas>
<h3 id="status">Waiting...</h3>
<h3 id="sample_collected">Waiting...</h3>
<p id="result">wait</p>
<script>
const socket = new WebSocket("ws://127.0.0.1:8000/ws/chat/");

const video = document.getElementById("video");
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");
const statusText = document.getElementById("status");
const result = document.getElementById('result')

// Iris
let irisX = null;
let irisY = null;

// Calibration
let calibX = null;
let calibY = null;
let isCalibrating = false;

// Start webcam
navigator.mediaDevices.getUserMedia({ video: true })
.then(stream => video.srcObject = stream)
.catch(err => console.error(err));

// Send frame
function sendFrame() {
    if (video.videoWidth === 0) return;

    const tempCanvas = document.createElement("canvas");
    tempCanvas.width = video.videoWidth;
    tempCanvas.height = video.videoHeight;

    const tempCtx = tempCanvas.getContext("2d");
    tempCtx.drawImage(video, 0, 0);

    const frame = tempCanvas.toDataURL("image/jpeg", 0.7);

    socket.send(JSON.stringify({ frame }));
}

setInterval(sendFrame, 30);

// Receive data
socket.onmessage = (event) => {
    const data = JSON.parse(event.data);

    if (!data.face) {
        statusText.innerText = "No face";
        return;
    }

    if (data.calibrating) {
        isCalibrating = true;
        calibX = data.point_x;
        calibY = data.point_y;
        statusText.innerText = "Calibrating...";
        return;
    }
    else{
        result.innerText = data.is_cheating
    }

    isCalibrating = false;
    irisX = data.left_iris_x;
    irisY = data.left_iris_y;
};

// Draw
function draw() {
    if (video.videoWidth === 0) {
        requestAnimationFrame(draw);
        return;
    }

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    // ===== FIT VIDEO (keep aspect ratio) =====
    const videoRatio = video.videoWidth / video.videoHeight;
    const canvasRatio = canvas.width / canvas.height;

    let drawWidth, drawHeight, offsetX, offsetY;

    if (videoRatio > canvasRatio) {
        drawWidth = canvas.width;
        drawHeight = canvas.width / videoRatio;
        offsetX = 0;
        offsetY = (canvas.height - drawHeight) / 2;
    } else {
        drawHeight = canvas.height;
        drawWidth = canvas.height * videoRatio;
        offsetX = (canvas.width - drawWidth) / 2;
        offsetY = 0;
    }

    // ===== DRAW VIDEO =====
    ctx.drawImage(video, offsetX, offsetY, drawWidth, drawHeight);

    // ===== CALIBRATION POINT =====
    if (isCalibrating && calibX !== null) {
        const x = calibX * canvas.width;
        const y = calibY * canvas.height;

        ctx.beginPath();
        ctx.arc(x, y, 12, 0, 2 * Math.PI);
        ctx.fillStyle = "blue";
        ctx.fill();
    }

    // ===== IRIS POINT =====
    if (!isCalibrating && irisX !== null) {
        // map video → screen
        const x = offsetX + (irisX * drawWidth);
        const y = offsetY + (irisY * drawHeight);

        ctx.beginPath();
        ctx.arc(x, y, 6, 0, 2 * Math.PI);
        ctx.fillStyle = "red";
        ctx.fill();
    }

    requestAnimationFrame(draw);
}

draw();
</script>
</body>
</html>