<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="start">start</button>

<script>
    start_btn = document.getElementById('start')

    let questions = {{ questions|safe }}

    console.log(questions)
    {#questions[0] = 'This is AI interview session, make sure internet is stable and surrounding is silent. if any cause interview session stop and marked as cheating. Your session start soon please be silent to calibration of sound'#}
    questions[0] = {
        "question": 'marked as cheating. Your session start soon please be silent to calibration of sound',
        'question_id':'summ'
    }

    let q_id = 0
    let all_answer = []
    let isCalibrated = false;
    let SILENCE_THRESHOLD = 0.01
    let calibrations = []

    question_length = Object.keys(questions).length

    function blobToBase64(blob) {
        return new Promise((resolve) => {
            const reader = new FileReader();
            reader.onloadend = () => resolve(reader.result.split(',')[1]);
            reader.readAsDataURL(blob);
        });
    }

    function getCookie(name) {
        const cookies = document.cookie.split(';');
        for (let cookie of cookies) {
            const [key, val] = cookie.trim().split('=');
            if (key === name) return decodeURIComponent(val);
        }
        return null;
    }

    async function finishInterview() {
        console.log("Sending all answers...");
        const formData = new FormData();

        for (let ans of all_answer) {
            // blob directly as a file — no base64 conversion
            const file = new File([ans.ans_blob], `q${ans.question_id}.webm`, {type: 'audio/webm'});
            formData.append('audio_files', file);
            formData.append('question_ids', ans.question_id);
            formData.append('question_text', ans.question_text);
        }

        const response = await fetch('/interview/result/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')   // django csrf
            },
            body: formData
        });

        const result = await response.json();
    }

    function askQuestion() {
        if (q_id >= question_length) {
            console.log('interview done')
            console.log(all_answer)

            // playing recored audio

            finishInterview()
            return;
        } else {
            speakQuestion(questions[q_id]['question'])
        }

    }

    function speakQuestion(text) {
        const utterance = new SpeechSynthesisUtterance(text);

        utterance.lang = 'en-US';
        utterance.rate = 0.9;
        utterance.pitch = 0.5;

        utterance.onstart = () => {
            console.log("Question started speaking...");
        };

        utterance.onend = () => {
            console.log("Question finished — now start recording!");
            voice()
        };

        window.speechSynthesis.speak(utterance);
    }


    async function voice() {
        const voice_stream = await navigator.mediaDevices.getUserMedia({audio: true})
        const voice_recorder = new MediaRecorder(voice_stream)


        const SILENCE_WAIT = 1500;         // wait value

        const voice_chuck = [];
        voice_recorder.ondataavailable = (e) => {
            voice_chuck.push(e.data);
            {#console.log(e.data)#}
        };

        voice_recorder.onstop = () => {
            const blob = new Blob(voice_chuck, {type: 'audio/webm'});
            console.log('recording saved location:', blob)
            if (q_id !== 0) {
                all_answer.push({
                    question_text: questions[q_id]['question'],
                    ans_blob: blob,
                    question_id: questions[q_id]['question_id']
                })
            }
            q_id++
            askQuestion()
        };


        const audioCtx = new AudioContext();
        const analyser = audioCtx.createAnalyser();
        const source = audioCtx.createMediaStreamSource(voice_stream);

        source.connect(analyser);
        const data = new Uint8Array(analyser.frequencyBinCount);
        let silenceTimer = null;


        function checkVolume() {
            analyser.getByteTimeDomainData(data);

            let sum = 0;
            for (let i = 0; i < data.length; i++) {
                const val = (data[i] - 128) / 128;
                sum += val * val;
            }

            const volume = Math.sqrt(sum / data.length);
            if (isCalibrated) {
                console.log("Volume:", volume);

                if (volume < SILENCE_THRESHOLD) {
                    if (!silenceTimer) {
                        silenceTimer = setTimeout(() => {
                                console.log("Silence detected! Stopping...")
                                voice_recorder.stop()
                            },
                            SILENCE_WAIT)
                    }
                } else {
                    clearTimeout(silenceTimer)
                    silenceTimer = null
                }
            } else {
                if (calibrations.length >= 1000) {
                    const total = calibrations.reduce((a, b) => a + b, 0);
                    SILENCE_THRESHOLD = (total / calibrations.length) * 1.5;

                    console.log("Calibrated threshold:", SILENCE_THRESHOLD);
                    console.log("Calibrated volume:", volume);
                    isCalibrated = true;
                    voice_recorder.stop()
                } else {
                    calibrations.push(volume)
                }
            }


            if (voice_recorder.state === "recording") {
                requestAnimationFrame(checkVolume);
            }
        }

        voice_recorder.start(250);
        checkVolume();
    }


    start_btn.onclick = () => {
        askQuestion();
        start_btn.disabled = true;
    };
</script>
</body>
</html>